<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.redmoon.tictac"
    android:versionCode="16"
    android:versionName="@string/app_version">

    <uses-sdk
       	android:minSdkVersion="8" 
    	android:targetSdkVersion="14"/>
    
    <!-- Pour l'export des données et des préférences -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Pour la création d'évènements dans le calendrier -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    
    <application
    	android:icon="@drawable/icon"
    	android:label="@string/app_name"
    	android:theme="@style/TicTacLightTheme.NoShadow" >
    	
        <activity
        	android:name=".gui.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        	
        <activity
        	android:name=".gui.activities.DayActivity"
            android:screenOrientation="portrait" />
        	
        <activity
        	android:name=".gui.activities.WeekActivity"
            android:screenOrientation="portrait" />
        
        <activity
        	android:name=".gui.activities.MonthActivity"
            android:screenOrientation="portrait" />
        
        <activity
        	android:name=".gui.activities.ManageActivity"
            android:screenOrientation="portrait" />
        		
        <activity
        	android:name=".gui.activities.PreferencesActivity"
            android:screenOrientation="portrait" />
        
        <activity
        	android:name=".gui.activities.StatisticsResultsActivity"
            android:screenOrientation="portrait" />

        <activity
        	android:name=".gui.activities.WidgetDisplayTimePickerActivity"
        	android:theme="@android:style/Theme.Translucent.NoTitleBar"
        	android:excludeFromRecents="true" />
		
        <!-- activity
        	android:name=".WidgetConfigurationActivity"
        	android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" /> 
				<category android:name="android.intent.category.LAUNCHER" /> 
			</intent-filter>
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" /> 
			</intent-filter>
		</activity -->
		
		<service android:name=".bus.services.AddCheckingService" />

	    <receiver
	        android:name=".gui.widgets.WidgetProvider"
	        android:exported="false" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget_info" />
		</receiver>
		
	 </application>
</manifest> 